*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body,html{
    height: 100%;
    width: 100%;
}
main{
    min-height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
}
main>h1{
    width: 100%;
    font-size: 2vmax;
    background-color: black;
    color: whitesmoke;
    padding: 2vmin 0vw;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 4px whitesmoke;
    /* margin-bottom: 3%; */
}
#images{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 4% 0%;
}
.choice{
    /* height: 22vmin; */
    width: 10vmax;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5%;
}
.choice>p{
    font-size: 1.5vmax;
    font-weight: 700;
    color: darkslategrey;
}
#images img{
    height: 15vmin;
    width: 8vmax;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid transparent;
    box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.142);
    margin-bottom: 10%;
}
#images img:hover{
    border: 5px solid black;
}
#selection{
    min-height: 10vmin;
    width: 25vmax;
    /* background-color: ; */
    border: 2px solid black;
    margin-bottom: 3%;
    border-radius: 10px;
}
#selection td{
    font-size: 1.5vmax;
    font-weight: 500;
    margin: 0% 3%;
}
.selected{
    display: flex;
    margin: 5% 0%;
}
#scores{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vmax;
    font-size: 1.5vmax;
    text-align: center;
    margin-bottom: 5%;
}
#result{
    /* margin: 5% 0%; */
    padding: 1% 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#A7DC8E;
    border-radius: 10px;
    font-size: 1.5vmax;
    font-weight: 700;
}

@media (max-width:600px) {

    main>h1{
        padding: 5% 0%;
        font-size: 3.5vmax;
    }

    #images{
        width: 90%;
        margin: 10% 0%;
        gap: 5vmax;
    }

    #images img{
        height: 25vmin;
        width: 10vmax;
    }
    .choice>p{
        font-size: 2vmax;
    }

    #selection{
        width: 40vmax;
    }
    #selection td{
        font-size: 2.5vmax;
    }

    #scores{
        font-size: 2.5vmax;
        margin: 5% 0%;
    }

    #result{
        font-size: 2.2vmax;
        margin: 5% 0%;
    }
}